a.button, button {
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
}

html {
  -webkit-text-size-adjust: none;
}

ul li {
    list-style-type: none;
}

ul, ol {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
}

.preheader__link.no__commission a {
  background-color: #e05a1b;
  padding-right: 24px;
  padding-left: 24px;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  font-size: 14px;
}

.preheader__link.no__commission a:before {
  content: '';
  display: inline-block;
  /*background: url(card.png) no-repeat;*/
  width: 18px;
  height: 12px;
  margin-right: 4px;
  margin-bottom: -1px;
}

.window-no-commision .cards {
  background-color: #f6f6f6;
  padding: 5px 0;
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
  text-align: center;
}
#services-list {
  overflow: hidden;
  text-align: center;
}
#services-list .srv-item {
  display: inline-block;
  width: 190px;
  height: 130px;
  border: 1px solid #c9c6c3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}
#services-list .srv-item:hover {
  box-shadow: 0px 2px 5px #bfbfbf;
  -webkit-box-shadow: 0px 2px 5px #bfbfbf;
}
#services-list .srv-item:nth-child(2), #services-list .srv-item:nth-child(5) {
  margin-left: 16px;
  margin-right: 16px;
}
#services-list .srv-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}

#services-list .srv-item img {
  vertical-align: middle;
  display: inline-block;
}
.payments__tabs {
  text-align: center;
  margin-bottom: 19px;
}
.payments__tabhead {
  display: inline-block;
  font-size: 14px;
  color: #8a8a8a;
  margin: 0 6px;
  cursor: pointer;
}
.payments__tabbody {
  display: none;
  min-height: 300px;
}
.payments__tabbody.payments__tabbody_active {
  display: block;
}

.payments__tabhead:hover, .payments__tabhead.payments__tabhead_active {
  color: #000000;
}

.window-no-commision .logo, .window-no-commision h2 {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.commersant-logo{
  margin: 0 auto;
  max-width: 50%;
}

.window-no-commision h2 {
    font-size: 44px;
    margin-top: 40px;
}

.no-commision-support {
    text-align: center;
    color: #8a8a8a;
    font-size: 14px;
    margin-bottom: 0;
}

.section-right, .section-left {
  width: 46%;
  float: left;
}
.section-right {
  margin-left: 8%;
}
.steps-nav {
  position: relative;
  overflow: hidden;
}
.steps-nav:before {
  content: '';
  width: 90%;
  height: 2px;
  background-color: #f6f6f6;
  position: absolute;
  top: 50%;
}
.steps-nav li {
  float: left;
  width: 30px;
  height: 30px;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #8a8a8a;
  border-radius: 50%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  position: relative;
}
.steps-nav li:first-child + li {
  left: 50%;
  margin-left: -45px;
}
.steps-nav li:last-child {
  float: right;
}
.steps-nav li.step-active {
  background-color: #fff;
  border-color: #f47c24;
  color: #f47c24;
}
.steps-nav li.step-active.step-complete {
  color: #000;
  border-color: #000;
}
.steps-nav li.step-active.step-complete:before {
  content: '';
  width: 390%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 30px;
}
.payment-step fieldset {
  border: 0px;
  padding: 14px;
  border-radius: 2px;
  min-height: 236px;
  margin: 0;
}
.payment-step p {
  font-size: 28px;
  color: #000;
  margin-bottom: 23px;
}

.service-description {
  text-align: center;
  padding: 20px 0;
}
.service-description p {
  font-size: 16px;
}
#retryButton{
  color: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f79535, endColorstr=#f47c30);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='@color1', endColorstr='@color2')";
  background: -webkit-gradient(linear, left top, left bottom, from(#fcba24), to(#f47c30));
  background: -moz-linear-gradient(top, #fcba24, #f47c30);
  background: -o-linear-gradient(top, #fcba24, #f47c30);
  background: -ms-linear-gradient(top, #fcba24, #f47c30);
  text-shadow: 1px 1px 3px #777;
  font-weight: bold;
  width: 100%;
  outline: 0;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 5px;
  font-size: 29px;
  padding: 24px 35px;
  border: 1px solid #000;
}
#backLinkButton{
  color: #FFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='@color1', endColorstr='@color2')";
  background: radial-gradient(ellipse at center, #cedce7 0%,#596a72 85%,#596a72 85%,#596a72 89%);
  text-shadow: 1px 1px 3px #777;
  font-weight: bold;
  width: 100%;
  outline: 0;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 5px;
  font-size: 29px;
  padding: 24px 35px;
  border: 1px solid #000;
}

.payment-step .next, .payment-step .submit {
  color: #FFF;
  background: #1d3d51;
  font: 34px "FuturaPTLight", 'Calibri', sans-serif;
  font-weight: bold;
  width: 100%;
  outline: 0;
  height: 90px;
  line-height: 40px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.payment-step .next:hover, .payment-step .submit:hover{
  background: #1d3d51;
}

.payment-step .prev {
  background-size: 18px 18px;
  border: 0px solid #f36f21;
  border-radius: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  box-shadow: none;
  outline: 0;
  color: #1d3d51;
  font-size: 14px;
  font-weight: normal;
  text-shadow: none;
  padding: 11px 35px;
  background-color: #cbd1d8;
  display: inline-block;
  width: 100%;
}

.payment-step input {
    margin: 0;
    outline: none;
    width: 100%;
    padding: 22px 15px 27px;
    border: 0px solid #000;
    outline: 0;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-size: 28px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.payment-step select {
    color: #444;
    background-color: #fff;
    border: 0px solid #000;
    color: #c6d0d6;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*padding: 23px 40px;*/
    padding: 0 0 0 50px;
    width: 138px;
    height: 83px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
    margin-right: 15px;
    font-size: 28px;
  -webkit-appearance: none;
}

.payment-step select.years {
  /*padding: 23px 44px;*/
  padding: 0 0 0 50px;
  margin-right: 0;
  -webkit-appearance: none;
  width: 170px;

}

.payment-step .field {
  margin-bottom: 10px;
}

.payment-step .field:first-child{
  margin-bottom: 15px;
}

.payment-step .field:nth-child(2){
  margin-bottom: 15px;
}

.payment-step .field.last, .payment-step .field.buttons {
  margin-bottom: 0px;
}

.payment-step .field.buttons:first-child {
  margin-bottom: 20px;
}

#security {
  width: 298px;
}
#security + img {
  margin-left: 10px;
  margin-top: 25px;
  width: 200px;
}

.payment-info {
  margin-top: 0;
}
.payment-step dl {
  font-size: 14px;
  margin: 20px 0 0 0;
}
.payment-step dt {
  color: #8d8d8d;
}
.payment-step dd {
  font-weight: bold;
  margin: 5px 0 13px 0;
}

.payment-step dd:last-child {
  margin-bottom: 0;
}
.order-info {
  font-size: 14px;
  color: #000;
  margin-bottom: 1em;
}
.order-info .order-value {
  font-weight: bold;
  color: #000;
}
.success-head {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 29px;
  letter-spacing: 1px;
  height: 80px;
  line-height: 78px;
  border: 1px solid #d4d4d4;
  border-radius: 5px 5px 0 0;
  background: radial-gradient(ellipse at center, #cedce7 0%,#596a72 85%,#596a72 85%,#596a72 89%);
  margin: -1px -40px 35px;
  text-align: center;
}
.step-accept .order-info .order-value {
  font-weight: normal;
}

.step-accept .info-row {
  margin-bottom: 15px;
}

.pay-check {
  clear: both;
}

.pay-check a {
  margin-left: 20px;
  text-decoration: none;
  color: #055197;
}

#cvc {
  width: 140px;
  float: right;
}
.card-info {
  color: #000;
  margin: 20px 0 7px;
  overflow: hidden;
}
.label-period {
  float: left;
  font-family: "FuturaPTBock", 'Calibri', sans-serif;
  color: #1d3d51;
}

.label-cvc {
  float: right;
  font-family: "FuturaPTBock", 'Calibri', sans-serif;
  color: #1d3d51;
  margin-right: 14px;
}


/* Additional styles*/
/*#cboxContent {padding: 15px;}
#cboxLoadedContent {padding: 0;}
#cboxContent {-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);}*/
