*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* CUSTOM FONTS */
@font-face{ font-family: "FuturaPTLight"; src: url(fonts/FuturaPTLight.otf); }
@font-face{ font-family: "FuturaPTBock"; src: url(fonts/FuturaPTBock.otf); }

html {
    -webkit-text-size-adjust: none;
}

body {
    /*min-width: 320px;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'FuturaPTLight', 'Calibri', sans-serif;
    background: #edeef0;
}
/*
body.step_2 {
     background: url("img/payment2.jpg") no-repeat 50% -129px;
}
body.step_3 {
    background: url("img/payment3.jpg") no-repeat 50% -129px;
}
body.step_4 {
    background: url("img/payment4.jpg") no-repeat 50% -129px;
}
body.step_5 {
    background: url("img/payment5.jpg") no-repeat 50% -129px;
}

body.about_step {
    background: url("img/about.jpg") no-repeat 50% -129px;
}
*/
a {
    text-decoration: none;
    color: #999;
}

a:hover, a:focus {
    color: #000;
}

a:hover, a:focus, a:active, input:hover, input:focus, input:active, button:hover, button:focus, button:active {
    outline: none;
}

h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 30px;
}

.window-no-commision {
    max-width: 640px;
    /*min-width: 320px;*/
    margin: 0 auto;
    padding: 20px;
}

.window-no-commision .logo {
    text-align: center;
    position: relative;
}



.window-no-commision .logo .close-ic {
    display: inline-block;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 5px;
    z-index:20;
}

.window-no-commision form {
    width: 100%;
}

.select-pay {
    position: relative;
    z-index: 5;
}

.select-pay form {
    position: relative;
}

.select-ic {
    display: inline-block;
    width: 23px;
    height: 13px;
    background: url("images/select-arrow-close.png") no-repeat 50% 50%;
    position: absolute;
    right: 30px;
    top: 35px;
}

.droplink:hover h3 a .select-ic {
    background: url("images/select-arrow-open.png") no-repeat 50% 50%;
}

.activetrigger:hover {
    background:url("images/select-arrow-open.png") 98% center no-repeat;
}

.activetrigger:active {
    background:url("images/select-arrow-open.png") 98% center no-repeat;
}

.window-no-commision .payment-step {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 1;
}

.window-no-commision #services-list {
    width: 100%;
    height: auto;
}

.window-no-commision .payment-step #services-list .srv-item {
    display: block;
    width: 48%;
    height: 190px;
    text-align: center;
    border: 2px solid #d4d4d4;
    margin-bottom: 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.window-no-commision .payment-step #services-list .srv-item:nth-child(odd){
    float: left;
}

.window-no-commision .payment-step #services-list .srv-item:nth-child(even){
    float: right;
}

.window-no-commision .payment-step #services-list .srv-item:last-child {
    margin-bottom: 22px;
}

.window-no-commision .payment-step #services-list .srv-item .step_pay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.window-no-commision .payment-step #services-list .srv-item .step_pay img {
    width: 230px;
}

.window-no-commision .payment-step #services-list .srv-item .step_pay.active_s img {
    width: 120px;
}

.window-no-commision .cards {
    display: inline-block;
    width: calc(100% + 40px);
    height:auto;
    background: #edeef0;
    /*padding: 10px 0;*/
    text-align: center;
    margin: 0 -20px;
}

.cards img {
    width: 100%;
}

.no-commision-support {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #8a8a8a;
    text-align: center;
    line-height: 1.3;
    margin: 20px 0 5px;
}

.no-commision-support .vis-xs {
    display: none;
}


.payments__tabbody.payments__tabbody_active .section-left,
.payments__tabbody.payments__tabbody_active .section-right {
    width: 100%;
}

.payments__tabbody.payments__tabbody_active .section-left .steps-nav {
    max-width: 396px;
    min-width: 230px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    margin-top: 0;
}

.payments__tabbody.payments__tabbody_active .section-left .steps-nav li.step-active {
    border-color: #f47c24;
    border-width: 2px;
}

.payments__tabbody.payments__tabbody_active .section-left .steps-nav li {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #f6f6f6;
    font-size: 28px;
}

.payments__tabbody.payments__tabbody_active .section-left .steps-nav li:first-child + li {
    left: 27%;
    margin-left: 0;
}

.payments__tabbody.payments__tabbody_active .section-left .steps-nav li:last-child {
    margin-right: 10px;
}

.payments__tabbody.payments__tabbody_active .section-left .steps-nav li span {
    display: block;
    margin-top: 0;
}

.payments__tabbody.payments__tabbody_active .section-left .service-description img {
    width: 220px;
}

.payments__tabbody.payments__tabbody_active .section-right {
    margin: 40px 0 0 0;
}

.payments__tabbody.payments__tabbody_active .last-step .section-right {
    margin-top: 0;
}

.payment-step .submit.save {
    font-size: 28px;
}

.payment-step .submit.save:hover {
    /*background: #ededed;*/
}

.window-no-commision .payments__tabbody.payments__tabbody_active .payment-step.last-step .section-right .last-step-btn {
    margin: 20px 0;
}

.about-step h5,
.about-step h6 {
    color: #f79e66;
    font-size: 28px;
    margin: 45px 0 20px 0;
    line-height: 1;
}

.about-step h6 {
    color: #010101;
    font-weight: 300;
    margin-top: 0;
}

.about-step div {
    margin-top: 70px;
}

.about-step div p {
    margin-bottom: 12px;
}

.about-step div p:last-child {
    margin: 0;
}

.about-step p {
    margin: 0 0 15px 0;
    line-height: 1.46;
    font-size: 28px;
    color: #010101;
}


/*Сбросим отступы*/
.droplink ul,.droplink h3,.droplink h3 a{
    padding:0;
    margin:0;
}
/*Базовая обертка*/
.droplink {
    width: 100%;
    position: relative;
    margin: 0;
    background: #fff;
}
/*Стиль блока при наведении*/
.droplink:hover{
    /*height:auto;*/
    /*background-color:#3E403D;*/
    /*border:solid 1px #3A3C39;*/
}
/*Заголовок в обычном состоянии*/
.droplink h3 a{
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 23px 13px 28px;
    border: 2px solid #d4d4d4;
    -webkit-border-radius:  5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #010101;

}

.droplink:hover h3 a {
    /*color: #000;*/
    /*font-weight:bold;*/
    /*position: absolute;*/
    padding: 23px 13px 30px 13px;
    border-bottom: none;
    -webkit-border-radius:  5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

/*Скрываем список без наведения*/
.droplink ul{
    list-style:none;
    display:none;
    padding: 0 13px;
    border: 2px solid #d4d4d4;
    -webkit-border-radius:  5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    line-height: 20px;
    color: #010101;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 10;
    border-top: none;
}
/*Отображаем список при наведении*/
.droplink:hover ul{
    display:block;
    top: 78px;
    -webkit-border-radius:  0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.droplink li:first-child {
    border-top: 2px solid #d4d4d4;
}
.droplink li{
    display:block;
    padding: 30px 0;
}

/*Стиль элемента списка*/
.droplink li a{
    padding: 5px 0;
    margin: 0;
    display:block;
    color:#999999;
    text-decoration:none;
    font-size: 28px;
    line-height: 20px;
    font-family: 'Arial', sans-serif;
}
/*Стиль элемента при наведении*/
.droplink li a:hover{
    color: #000;
}

/* ВТОРОЙ ШАГ */

body.step_2 h2 {
    /*font-size: 44px;*/
    margin-top: 40px;
}

body.step_2 .payment-step fieldset {
    padding: 38px 40px 22px;
}

body.step_2 .service-description {
    padding: 40px 0 33px;
}

body.step_2 .payment-step p {
    font-size: 28px;
}

body.step_2 .payment-step .field.buttons:first-child {
    margin-bottom: 15px;
}


/* ТРЕТИЙ ШАГ */

body.step_3 .payments__tabbody.payments__tabbody_active .section-left .steps-nav {
    margin-top: 0;
    width: 392px;
}

body.step_3 .payments__tabbody.payments__tabbody_active .section-left .steps-nav li.step-active.step-complete {
    border: 2px solid #000000;
}

body.step_3 .steps-nav li.step-active.step-complete::before {
    left: 60px;
    width: 290%;
}

body.step_3 .service-description {
    padding: 37px 0;
}

body.step_3 .payment-step p {
    margin-bottom: 40px;
}

body.step_3 .payment-step fieldset {
    padding: 38px 41px 38px 38px;
}

body.step_3 .payment-step dl {
    font-size: 28px;
    font-weight: 600;
}

body.step_3 .payment-step dd {
    margin: 5px 0 25px 0;
    line-height: 1.2;
}

body.step_3 .payment-step dd:last-child {
    margin-top: 10px;
}

body.step_3 .payments__tabbody.payments__tabbody_active .section-right {
    margin-top: 20px;
}

body.step_3 .payment-step .next,
body.step_3 .payment-step .prev {
    font-size: 29px;
    height: 86px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
}

body.step_3 .payment-step .prev {
    font-size: 28px;
    height: 88px;
    border: 2px solid #f36f21;
}

body.step_3 .payment-step .field.buttons:first-child {
    margin-bottom: 22px;
}


body.step_3 .window-no-commision .cards {
    padding: 2px 0;
}

body.step_3 .no-commision-support {
    line-height: 1.34;
    margin: 23px 0 5px;
}


/* ЧЕТВЕРТЫЙ ШАГ */

body.step_4 .payment-step fieldset {
    padding: 25px 39px 38px 38px;
    background: #edeef0;
}

body.step_4 .order-info {
    font-size: 28px;
    margin-bottom: 44px;
}

body.step_4 .order-info div:first-child {
    margin-bottom: 0px;
}

body.step_4 .payment-step input {
    padding: 20px 17px 26px;
    font-size: 29px;
}

body.step_4 .payment-step input.enter_v {
    border-color: #000;
}

body.step_4 .payment-step input.enter_v::-webkit-input-placeholder {
    font-family: "FuturaPTBock", 'Calibri', sans-serif;
    color: #c6d0d6;
}

body.step_4 .payment-step input.enter_v::-moz-placeholder {
    font-family: "FuturaPTBock", 'Calibri', sans-serif;
    color: #c6d0d6;
}

body.step_4 .payment-step input.enter_v:-ms-input-placeholder {
    font-family: "FuturaPTBock", 'Calibri', sans-serif;
    color: #c6d0d6;
}

body.step_4 .payment-step input.enter_v:-moz-placeholder {
    font-family: "FuturaPTBock", 'Calibri', sans-serif;
    color: #c6d0d6;
}

body.step_4 .card-info {
    font-size: 24px;
    margin: 10px 0 10px;
}

body.step_4 .window-no-commision .payments__tabbody.payments__tabbody_active .payment-step.last-step .section-right .last-step-btn {
    margin: 15px 0 15px;
}

body.step_4 .payment-step .submit {
    font-size: 29px;
    height: 86px;
}

body.step_4 .payment-step .prev {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font: 34px "FuturaPTLight", 'Calibri', sans-serif;
    font-weight: bold;
    padding: 24px 35px;
    border: 0px solid #f36f21;
}

body.step_4 .window-no-commision .cards {
    padding: 0;
    margin-bottom: 10px;
}


body.step_4 .no-commision-support {
    line-height: 1.33;
    margin: 27px 0 5px;
}

/* 5  ПЯТЫЙ ШАГ */


body.step_5 .window-no-commision .payment-step {
    margin: 20px 0;
}

body.step_5 .order-info {
    font-size: 28px;
    margin-bottom: 25px;
}

body.step_5 .payment-step fieldset {
    padding: 0 38px 38px;
}

body.step_5 .step-accept .info-row {
    margin-bottom: 20px;
}

body.step_5 .payments__tabbody.payments__tabbody_active .last-step .section-right {
    margin-bottom: 15px;
}

body.step_5 .payments__tabbody.payments__tabbody_active .last-step .section-right .order-info {
    margin-bottom: 0;
}

body.step_5 .pay-check {
    margin-bottom: 44px;
}

body.step_5 .pay-check p {
    margin: 0;
}

body.step_5 .window-no-commision .cards {
    padding: 0;
}

body.step_5 .no-commision-support {
    margin-top: 28px;
}

/* О ПРОЕКТЕ */

body.about_step .window-no-commision {
    padding: 20px 19px;
}

body.about_step .about-step div .p01 {
    padding: 0 1px;
}

body.about_step .window-no-commision .cards {
    padding: 0;
    margin: 43px 0 5px;
}

.payment-step .from_select {
    display: inline-block;
    position: relative;
}

.payment-step .from_select .from_select-first,
.payment-step .from_select .from_select-second {
    display: inline-block;
    width: 23px;
    height: 14px;
    position: absolute;
    right: 33px;
    top: 36px;
}

.payment-step .from_select .from_select-second {
    right: 20px;
}


/* Под мобильные */


.service-wrap{
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    /*background-color: #F5F5F5;*/
}


@media (max-width: 480px){

    .window-no-commision .logo img {
        width: 200px;
    }

    .window-no-commision h2, h2 {
        font-size: 24px;
        line-height: 30px;
    }



    .window-no-commision .logo .close-ic {
        width: 25px;
        height: 25px;
        right: 0px;
        top: 5px;
    }

    .droplink h3 a,
    .droplink li a {
        font-size: 18px;
    }

    .droplink:hover ul {
        top: 70px;
    }

    .droplink li {
        padding: 20px 0;
    }


    .window-no-commision .payment-step #services-list .srv-item {
        height: 130px;
    }

    .window-no-commision .payment-step #services-list .srv-item .step_pay.active_s img {
        width: 80px;
    }

    .window-no-commision .payment-step #services-list .srv-item .step_pay img {
        width: 110px;
    }

    .no-commision-support {
        font-size: 16px;
    }

    .no-commision-support .vis-xs {
        display: block;
    }

    .payments__tabbody.payments__tabbody_active .section-left .steps-nav,
    body.step_3 .payments__tabbody.payments__tabbody_active .section-left .steps-nav {
        width: 230px;
        margin: 0;
    }

    .steps-nav:before {
        width: 90%;
    }

    .payments__tabbody.payments__tabbody_active .section-left .steps-nav li {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }

    .payments__tabbody.payments__tabbody_active .section-left .steps-nav li:last-child {
        margin-right: 0;
    }

    .payments__tabbody.payments__tabbody_active .section-left .steps-nav li:first-child + li {
        left: 31%;
    }

    .payments__tabbody.payments__tabbody_active .section-left .steps-nav li span {
        margin-top: -1px;
    }

    #cvc {
        width: 75px;
    }

    .select-ic {
        right: 20px;
        top: 28px;
    }

    body.step_2 .payment-step fieldset,
    body.step_3 .payment-step fieldset,
    body.step_4 .payment-step fieldset,
    body.step_5 .payment-step fieldset,
    body.about_step .payment-step fieldset {
        padding: 0;
    }

    body.step_2 .payment-step p,
    body.step_3 .payment-step p,
    body.step_4 .payment-step p,
    body.step_5 .payment-step p,
    body.about_step .payment-step p {
        font-size: 16px;
    }

    .payment-step input {
        padding: 10px 15px;
        font-size: 16px;
    }

    .payment-step .next, .payment-step .submit {
        height: 50px;
        font-size: 16px;
        line-height: 1;
    }

    #security {
        display: block;
        width: 100%;
        float: none;
    }

    #security + img {
        display: block;
        float: none;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    body.step_2 .service-description {
        padding: 20px 0;
    }

    .payments__tabbody.payments__tabbody_active .section-left .service-description img {
        width: 200px;
    }

    body.step_3 .payment-step dl {
        font-size: 16px;
    }

    body.step_3 .payment-step .next, body.step_3 .payment-step .prev {
        font-size: 18px;
        height: 50px;
    }

    body.step_3 .steps-nav li.step-active.step-complete::before {
        left: 27px;
    }

    body.step_3 .payment-step p {
        margin-bottom: 20px;
    }

    body.step_3 .payment-step dd {
        margin-bottom: 15px;
    }

    body.step_4 .order-info {
        font-size: 22px;
        margin-bottom: 15px;
        font-family: "FuturaPTBock", 'Calibri', sans-serif;
        color: #1d3d51;
    }

    .mail_logo{
        width: 110px;
    }

    body.step_4 .payment-step input {
        font-size: 20px;
        padding: 10px 15px;
    }

    body.step_4 .payment-step .submit {
        font-size: 18px;
        height: 50px;
        margin-top: 5px;
    }

    body.step_4 .payment-step .attention{
        color: #a59898;
        margin-top: 25px;
    }

    body.step_4 .card-info {
        font-size: 18px;
    }

    body.step_4 .payment-step .prev {
        font-size: 18px;
        padding: 13px 35px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .payment-step select, .payment-step select.years {
        font-size: 18px;
        padding: 0 0 0 20px;
        margin-right: 5px;
        -webkit-appearance: none;
        height: 42px;
        width: 58px;
    }
    .payment-step select.years {
        margin-right: 0;
        width: 80px;
        /*padding-left: 25px;*/
    }

    .payment-step .from_select .from_select-first,
    .payment-step .from_select .from_select-second  {
        background-size: 12px;
        width: 14px;
        right: 10px;
        top: 14px;
    }

    .payment-step .from_select .from_select-second {
        right: 5px;
    }

    body.step_5 .order-info {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .success-head {
        margin: -32px -22px 15px;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
    }

    .payment-step .submit.save {
        font-size: 18px;
    }

    body.step_5 .pay-check {
        margin-bottom: 20px;
    }

    body.step_5 .step-accept .info-row {
        margin-bottom: 15px;
    }

    .about-step p {
        font-size: 16px;
    }

    .about-step h5, .about-step h6 {
        font-size: 18px;

        margin-top: 25px;
    }

    .about-step div {
        margin-top: 30px;
    }

    body.about_step .window-no-commision .cards {
        margin: 25px -19px 5px -19px;
        width: calc(100% + 38px);
    }

}
#commers-logo{
    max-height: 50%;
    max-width: 50%;
}
.kazkom-logo {
    color: #0b95cb;
    margin: 0 auto;
    font-size: x-small;
}

.security-qazkom{
    color: #a59898;
}

.pull-right {
    
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

@media (max-width: 568px) and (max-height: 320px){
    .payment-step select {
        font-size: 18px;
        margin-right: 10px;
        -webkit-appearance: none;
    }
    body.step_4 .payment-step input {
        font-size: 18px;
        padding: 20px 17px 22px;
    }
    #security {
        width: 268px;
    }
    #security + img {
        width: 160px;
    }

    .payment-step select {
        width: 128px;
        height: 67px;
    }

    .payment-step select.years {
        width: 150px;
    }

    .payment-step .from_select .from_select-first,
    .payment-step .from_select .from_select-second {
        top: 26px;
    }

    .steps-nav li.step-active.step-complete:before {
        left: 56px;
        width: 200%;
    }

    body.step_3 .payments__tabbody.payments__tabbody_active .section-left .steps-nav li.step-active.step-complete {
        border: 2px solid #000000;
        color: #000000;
    }
}